@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    margin:0;
}
:root {
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    --main-color: #41B7AD;
}
body {
    margin: 0;
}
#container {
    height:100vh;
    display:grid;
    grid-template-rows: 90px 1fr;
    grid-template-columns: 1fr 2.5fr;
}
.header {
    grid-column: 1 / 3;
    background-color: var(--main-color);
    color:white;
    display:flex;
    align-items: center;
    justify-content:center;
}
.logo {
    height: 75%;
    margin-right: 40px;
}
.side-bar {
    padding: 36px;
    background-color: white;
    color:#374958; 
}
.content {
    background-color: #ECECEC;
}
.main-task{
    
    border-top: 2px solid lightblue;
    margin: 12px 0 12px 0;
}
.daily-task,.weekly-task{
    padding:24px;
    display: flex;
    align-items: center;
    gap:12px;
}
.daily-task:hover,.weekly-task:hover {
    background: var(--main-color);
}
.project-task{
    border-top: 2px solid lightblue;
    margin: 12px 0 12px 0;
}
button[type="button"] {
    width:100%;
    padding:24px;
    font-size: 1rem;
    font-weight: 600;
    color:#374958;
    border:0;
    background-color:white;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
}
button:hover {
    background-color:var(--main-color);
}
.content {
    padding: 36px;
}
.content-header {
    border-radius: 8px;
    height: 100px;
    background-color: var(--main-color);
    display:flex;
    justify-content: center;
    align-items: center;
}
.content-header h2 {
    color:white;
    font-size: 2.5rem;
}
.task-btn {
    text-align: left;
    width:100%;
    height:40px;
    margin-top:12px;
    border-radius: 10px;
}
.task-btn:hover {
    background-color: var(--main-color);
    color:white;
}