@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    margin:0;
}
:root {
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    --main-color: #41B7AD;
    --font-color:#374959;
}
body {
    margin: 0;
}
#container {
    height:100vh;
    display:grid;
    grid-template-rows: 90px 1fr;
    grid-template-columns: 1fr 2.5fr;
}
.header {
    grid-column: 1 / 3;
    background-color: var(--main-color);
    color:white;
    display:flex;
    align-items: center;
    justify-content:center;
}
.logo {
    height: 75%;
    margin-right: 40px;
}
.side-bar {
    padding: 36px;
    background-color: white;
    color:var(--font-color); 
}
.content {
    background-color: #ECECEC;
}
.main-task{
    
    border-top: 2px solid lightblue;
    margin: 12px 0 12px 0;
}
.inbox,.daily-task,.weekly-task{
    padding:24px;
    display: flex;
    align-items: center;
    gap:12px;
}
.inbox:hover,.daily-task:hover,.weekly-task:hover {
    background: var(--main-color);
}
.project-task{
    border-top: 2px solid lightblue;
    margin: 12px 0 12px 0;
}
.create-project {
    border-radius: 8px;
    width:90%;
    padding:12px;
    color: var(--font-color);
    border: 2px solid var(--main-color);    
    display:none;
    flex-direction: column;
    gap: 12px;
}
label[for="project-name"]{
    display:block;
    text-align: center;
    font-weight:bold;   
    font-size: 1.4rem;
    margin-bottom:8px;
}
input[id="project-name"] {
    border:0;
    width:97%;
    height:30px;
    background-color: lightgray;
    font-size: 1.2rem;
    font-weight:600;
    text-align: center;
    color:var(--font-color)74958;
}
.create-project-btn {
    display:flex;
    justify-content: center;
    padding: 0 24px 0 24px;
    gap:4px;
}
.add-project,.cancel-project {
    color:white;
    border-radius: 6px;
    flex-basis: 0;
    flex-grow: 1;
    padding:6px;
    font-size:1.5rem;
    font-weight:500;
    background-color: white;
    border:0;
}
.add-project {
    background-color: green;
    border:2px solid transparent;
}
.add-project:hover {
    color: var(--font-color);
    background-color:white;
    border:2px solid green;
}
.cancel-project {
    background-color: red;
    border:2px solid transparent;
}
.cancel-project:hover {
    color: var(--font-color);
    background-color:white;
    border:2px solid red;
}
.btn {
    width:100%;
    padding:24px;
    font-size: 1rem;
    font-weight: 600;
    color: var(--font-color);
    border:0;
    background-color:white;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
}
.btn:hover {
    background-color:var(--main-color);
}
.content {
    padding: 36px;
}
.content-header {
    border-radius: 8px;
    height: 100px;
    background-color: var(--main-color);
    display:flex;
    justify-content: center;
    align-items: center;
}
.content-header h2 {
    color:white;
    font-size: 2.5rem;
}
.task-btn {
    text-align: left;
    width:100%;
    height:40px;
    margin-top:12px;
    border-radius: 10px;
}
.task-btn:hover {
    background-color: var(--main-color);
    color:white;
}
.create-task {
    border-radius: 12px;
    margin-top:24px ;
    padding:16px 24px 16px 24px;
    font-size: 1.2rem;
    font-weight: 600;
    color:var(--font-color);
    background-color:white;
    display:flex;
    align-items: center;
}
label[for="name"],label[for="due"] {
    margin-right:12px;
}
input[id="name"],input[id="due"] {
    margin-right:12px;
    height: 24px;
    width: 180px;
}
.label {
    flex: 0 0 auto;
}
.btn-group {
    
    display:flex;
    width:100%;
    gap:6px;
}
.btn-group > * {
    border-radius: 6px;
    width:100%;
    background-color:white;
    border:0;
    font-size: 1rem;
    font-weight: 600;
    padding:12px;
    color:white;
}
.add {
    background: green;
    border:2px solid transparent;
}
.add:hover {
    background-color:white;
    border:2px solid green;
    color:var(--font-color);
}
.cancel {
    background-color: red;
    border:2px solid transparent;
}
.cancel:hover {
    background-color:white;
    border:2px solid red;
    color:var(--font-color);
}